
::placeholder{
    font-size: 90%;
  }

body{
  background-color: rgb(206, 227, 251);
    background-size: cover;

  }
img{
  width: 30%;
 
}
#open{
    width: 50%;
    position: absolute;
    left: 5%;
    bottom: 8%;
 
}
input{
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.card{
  border-color: rgb(201, 214, 250);
}




