
::placeholder{
    font-size: 90%;
  }

body{
    background-image: url('background.png');
    background-size: cover;

  }
img{
  width: 30%;
 
}
#open{
    width: 50%;
    position: absolute;
    left: 5%;
    /* définit une position absolue pour l'image à gauche */
    bottom: 8%;
    /* ajuste la position verticale de l'image si besoin */
 
}
input{
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.card{
  border-color: rgb(201, 214, 250);
}




